-r requirements.txt
# Detect security issues in Python code.
bandit
# Code formatting.
black
# Rewrite to avoid DeprecationWarnings and use new features.
django-upgrade
# Linting.
flake8
# Import order.
isort
# Manage dependencies.
pip-tools
# Pre-commit hooks.
pre-commit
# Automatically upgrade syntax for newer versions of the language.
pyupgrade
